/** test
*/

body {
    background-color: #579df3;
        color: #ffffff;
        text-align: center;
        margin-top: 80px;
    }
    h1 {
        background-color: #579df3;
        color: #ffffff;
        font-size: 50px;
        margin: 15px;
        }
        label {
            font-size: 30px; 
            margin: 15px;
            color: #b4cff9
                }
